<%= form_for(edible) do |f| %>

<% if edible.errors.any? %>
  <div id="error_explanation">
    <h6><%= pluralize(edible.errors.count, "error") %> prohibited this table from being saved:</h6>

    <ul>
    <% edible.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :edible_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, id: :edible_description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, id: :edible_price, :step => 0.01, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit class: "btn btn-outline-success form-control" %>
  </div>

<% end %>
