<p id="notice"><%= notice %></p>

<h2>Edible</h2>

<p>
  <strong>Name:</strong>
  <%= @edible.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @edible.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @edible.price %>
</p>

<p>
  <%= link_to 'Edit', edit_edible_path(@edible) %> |
  <%= link_to 'Delete', @edible, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<%= link_to 'All Edibles', edibles_path %>