<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @order.table_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Is paid:</strong>
  <%= @order.is_paid %>
</p>

<%= link_to 'Edit', edit_table_order_path(@order.table, @order) %> |
<%= link_to 'Back', table_path(@order.table) %> <br>
<%= link_to 'All Orders', orders_path %>
