<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @order.table_id %>
</p>

<p>
  <table>
    <thead>
      <th>Name</th><th>Quantity</th><th>Unit Price</th><th></th>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.edible.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.edible.price %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
      <tr><td colspan="3"><%= link_to 'Add Item', new_order_item_path(@order) %></td></tr>
    </tbody>
  </table>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Is paid:</strong>
  <%= @order.is_paid %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', table_path(@order.table) %> <br>
<%= link_to 'All Orders', orders_path %>
