<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table.name %>
</p>

<p>
  <strong>Number of places:</strong>
  <%= @table.number_of_places %>
</p>

<h4>Outstanding orders:</h4>

<table>
  <thead>
    <th>ID</th><th>Time</th><th>Total</th>
  </thead>
  <tbody>
    <% @outstanding_orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, table_order_path(order.table, order) %></td>
      <td><%= order.created_at %></td>
      <td><%= order.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'Add Order', new_table_order_path(@table) %>
</div>

<div>
  <%= link_to 'Edit', edit_table_path(@table) %> |
  <%= link_to 'Back', tables_path %>
</div>
